<!-- About Section -->
	<section class="success" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>About</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 col-lg-offset-2">
	                <p>Self confessed IT Addict, I've had a fascination with computers since a very young age and even though am now of a sightly older, though not necessarily wiser, age the fascination still persists. I have been fortunate enough to spend my working career in the IT industry and currently work for an online hotel booking site</p>
	            </div>
	            <div class="col-lg-4">
	                <p>Travel and exploring is another fond pastime (albeit maybe a little cliche, who doesn't enjoy a holiday), wether it is wandering about the side & back streets of my local area or train journeys across parts of Europe (I can recommend a trip on the TransMongolian - Moscow to Beijing) </p>

	            </div>
	            <div class="col-lg-8 col-lg-offset-2 text-center">
								<p>On the occasions I manage to break myself away from the allure of the keyboard I like to be outside trying to absorb as many of the suns rays as is humanly possible (in Britain) </p>

	            </div>
	        </div>
	    </div>
	</section>
